body {
    display: flex;
    justify-content: center;    

    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.myBox {
    margin-Top: 2em;
    background-color: rgba(0, 0, 255, 0.445);
    height: 22rem;
    width: 30rem;
}

.myList {
    padding: 1em;
    align-content: center;
}

